@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 5rem;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2.5rem;
  max-width: 28rem;
  width: 100%;
}

.progress-container::before {
  content: "";
  background-color: #9f0404;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.3rem;
  width: 100%;
  z-index: -1;
  border-radius: 0.3rem;
}

.progress {
  background-color: #cbd357;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.4rem;
  width: 0;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  border-radius: 0.3rem;
}

.icon-wrapper {
  background-color: #610187;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem solid #fff;
  position: relative;
}

.icon-wrapper i {
  font-size: 2.5rem;
  position: absolute;
  margin-bottom: 5rem;
}

.icon-wrapper .label {
  position: absolute;
  font-size: 1.5rem;
  margin-bottom: -5rem;
  font-weight: bold;
  color: #333;
}

.prev-btn,
.next-btn {
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
  background-color: #2020ec;
  color: #fff;
  border-radius: 1.875rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.progress-btn{
padding: 1rem 3rem;
margin-top: 1rem;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #1818c2;
}

.prev-btn:disabled,
.next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 600px) {
  html {
    font-size: ;
  }

  .container {
    width: 100%;
    padding: 1rem;
  }

  .icon-wrapper {
    width: 1.8rem;
    height: 1.8rem;
  }

  .icon-wrapper i {
    font-size: 1.2rem;
  }

  .label {
    font-size: 0.8rem;
  }

  .prev-btn,
  .next-btn {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}
