@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  background: #f0f8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
    text-align: center;
    background: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  }


  .progress-contianer {
    position: relative;
    width: 100%;
    max-width: 31.25rem;
    margin: 1.25rem auto;
  }

  .progress {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 0.3125rem;
    background: #3498db;
    transition: width 0.4s ease-in-out;
  }
  

  .icon-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem;
  }
  
  .icon-wrapper i {
    font-size: 1.875rem;
    color: #333;
    margin-bottom: 0.3125rem;
  }
  .label {
    font-size: 0.875rem;
    font-weight: bold;
  }
  